:root {
    --button-bg-color: #a8c7fa;
    --button-hover-bg-color: #a1bded;
    --button-active-bg-color: #91b1e8;
    --button-text-color: #072e6f;
    --container-bg-color: #3c3c3c;
    
}
  
body {
    padding: 0;
    margin: 0;
}